.cm .cm__box {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.cm .box {
  width: 100%;
  max-width: calc((100% / 3) - 40px);
  background-color: #f0f0f0f0;
  position: relative;
  transition: all 0.3s ease;
}
.cm .box:hover {
  opacity: 0.75;
}
.cm .box::after {
  content: "";
  position: absolute;
  display: block;
  width: 0;
  height: 0;
  border-width: 13px;
  border-style: solid;
  border-color: #0f8ea1 transparent transparent transparent;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 55px);
}
.cm .box::before {
  content: attr(data-content);
  position: absolute;
  display: block;
  width: 0;
  height: 0;
  top: -55px;
  left: 16px;
  letter-spacing: 10px;
  white-space: nowrap;
  font-size: 80px;
  font-weight: 500;
  font-family: "Oswald", sans-serif;
}
.cm .box .box__img {
  width: 100%;
}
.cm .box .box__img .box__content {
  position: absolute;
  width: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -23%);
  text-align: center;
  color: #fff;
  font-weight: 700;
  font-size: 25px;
  line-height: 1.2;
}
@media screen and (max-width: 768px) {
  .cm .cm__box {
    padding: 0 20px;
  }
  .cm .cm__box .box {
    max-width: 100%;
    margin-top: 30px;
  }
}

.title-area {
  width: 100%;
  display: flex;
}
.title-area .title__img,
.title-area .title__wrap {
  width: 100%;
}
.title-area .title__img {
  max-width: calc(50% + 28px);
  position: relative;
  padding: 95px 0;
}
.title-area .title__img .title__img-order {
  font-family: "Oswald", sans-serif;
  font-weight: 500;
  font-size: 250px;
  position: absolute;
  top: -98px;
  left: 187px;
  letter-spacing: 21px;
  transform: scaleX(0.78);
}
.title-area .title__wrap {
  max-width: calc(50% - 28px);
  color: #fff;
  font-weight: 700;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: relative;
  padding: 0 77px;
  padding-top: 204px;
}
.title-area .title__wrap::after {
  content: "";
  width: calc(100% + 137px);
  height: calc(100%);
  position: absolute;
  top: 0;
  right: 0;
  z-index: -1;
}
.title-area .title__wrap .sub-title {
  font-size: 20px;
  display: block;
}
.title-area .title__wrap .sub-title::after {
  content: "";
  width: 200px;
  height: 0;
  display: block;
  border-top: 2px solid #fff;
  margin-top: 24px;
}
.title-area .title__wrap .title {
  display: block;
  font-size: 35px;
  line-height: 1.59;
  margin-top: 20px;
}

.user-comment {
  display: flex;
}
.user-comment .avatar {
  width: 60px;
  height: 60px;
}
.user-comment .comment {
  width: calc(100% - 60px);
  padding-left: 10px;
  color: #000;
  font-size: 16px;
  font-weight: 500;
}

.flex-box {
  width: 100%;
  display: flex;
}

.tab-area {
  position: relative;
  overflow: hidden;
}
.tab-area::after {
  content: "";
  width: 100%;
  height: calc(100% - 200px);
  position: absolute;
  z-index: -10;
  top: 30%;
  left: 0;
  background-color: #e7eef5;
}
.tab-area .title-area {
  margin-top: 128px;
}
.tab-area .title-area .title__img .title__img-order {
  color: #0f8ea1;
}
.tab-area .title-area .title__wrap::after {
  background-color: #0f8ea1;
}
.tab-area .title-area .title__content {
  padding-top: 204px;
}
.tab-area .tab-area.wrap-02 .tab__container {
  width: 100%;
  max-width: 1170px;
  margin: 0 auto;
}
.tab-area .tab-area.wrap-02 .flex-box .flex-box__item {
  width: 100%;
  max-width: calc(100% / 2);
}

/*# sourceMappingURL=page_23.css.map */
