.cm .cm__box {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.cm .box {
    width: 100%;
    max-width: calc((100% / 3) - 40px);
    background-color: #f0f0f0f0;
    position: relative;
    transition: all 0.3s ease;
}

.cm .box:hover {
    opacity: 0.75;
}

.cm .box::after {
    content: "";
    position: absolute;
    display: block;
    width: 0;
    height: 0;
    border-width: 13px;
    border-style: solid;
    border-color: #0f8ea1 transparent transparent transparent;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 55px);
}

.cm .box::before {
    content: attr(data-content);
    position: absolute;
    display: block;
    width: 0;
    height: 0;
    top: -55px;
    left: 16px;
    letter-spacing: 10px;
    white-space: nowrap;
    font-size: 80px;
    font-weight: 500;
    font-family: "Oswald", sans-serif;
}

.cm .box .box__img {
    width: 100%;
}

.cm .box .box__img .box__content {
    position: absolute;
    width: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -23%);
    text-align: center;
    color: #fff;
    font-weight: 700;
    font-size: 25px;
    line-height: 1.2;
}

@media screen and (max-width: 768px) {
    .cm .cm__box {
        padding: 0 20px;
    }
    .cm .cm__box .box {
        max-width: 100%;
        margin-top: 80px;
    }
}

.title-area {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.title-area .title__img,
.title-area .title__wrap {
    width: 100%;
}

.title-area .title__img {
    max-width: calc(50% + 28px);
    position: relative;
    padding: 95px 0;
}

.title-area .title__img .title__img-order {
    font-family: "Oswald", sans-serif;
    font-weight: 500;
    font-size: 250px;
    position: absolute;
    top: -98px;
    left: 187px;
    letter-spacing: 21px;
    transform: scaleX(0.78);
}

.title-area .title__wrap {
    max-width: calc(50% - 28px);
    color: #fff;
    font-weight: 700;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: relative;
    padding: 0 77px;
    padding-top: 204px;
}

.title-area .title__wrap::after {
    content: "";
    width: calc(100% + 137px);
    height: calc(100%);
    position: absolute;
    top: 0;
    right: 0;
    z-index: -1;
}

.title-area .title__wrap .sub-title {
    font-size: 20px;
    display: block;
}

.title-area .title__wrap .sub-title::after {
    content: "";
    width: 200px;
    height: 0;
    display: block;
    border-top: 2px solid #fff;
    margin-top: 24px;
}

.title-area .title__wrap .title {
    display: block;
    font-size: 35px;
    line-height: 1.59;
    margin-top: 20px;
}

@media only screen and (max-width: 1599px) {
    .title-area .title__wrap {
        padding-top: 12.75vw;
    }
    .title-area .title__wrap .title {
        font-size: 2.1875vw;
    }
}

.user-comment {
    display: flex;
    margin-bottom: 23px;
}

.user-comment .avatar {
    width: 60px;
    height: 60px;
}

.user-comment .comment {
    width: calc(100% - 60px);
    padding-left: 10px;
    color: #000;
    font-size: 16px;
    font-weight: 500;
    margin-left: 3px;
}

.user-comment .comment p {
    line-height: 1.68;
}

.tab-container {
    width: 100%;
    max-width: 834px;
    position: relative;
    z-index: -1;
}

.tab-container::after,
.tab-container::before {
    content: "";
    position: absolute;
    z-index: -1;
    display: block;
}

.tab-container::before {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #fff;
}

.tab-container .tab__title {
    color: #0f8ea1;
    font-size: 28px;
    font-weight: 700;
    border-left: 4px solid #0f8ea1;
    padding-left: 26px;
    line-height: 1.8;
}

.tab-container .tab__image {
    position: absolute;
}

.profile {
    width: 100%;
    background-color: #fff;
}

.profile .profile__container {
    width: 100%;
    max-width: 1120px;
    margin: 0 auto;
    border: 5px solid #0f8ea1;
    position: relative;
    padding-top: 84px;
    padding-bottom: 56px;
}

.profile .profile__title {
    color: #333;
    font-weight: 700;
    font-size: 30px;
    text-align: center;
    position: absolute;
    top: 0;
    left: 50%;
    letter-spacing: 2px;
    padding: 0 65px;
    background-color: #fff;
    white-space: nowrap;
    transform: translate(-50%, -78%);
}

.profile .profile__title span {
    display: block;
    color: #0f8ea1;
    font-family: "Oswald", sans-serif;
    font-size: 16px;
    font-weight: 500;
    text-transform: uppercase;
    margin-bottom: 15px;
}

.profile .profile__list {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.profile .profile__item {
    width: 25%;
    max-width: 247px;
}

.profile .profile__item:not(:first-child) {
    margin-left: 20px;
}

.profile .profile__join-in {
    font-size: 15px;
    font-weight: 700;
    color: #333;
    letter-spacing: 0.5px;
    margin-top: 13px;
    margin-bottom: 5px;
}

.profile .profile__detail {
    font-size: 13px;
    font-weight: 700;
    color: #333;
}

.tab-area {
    position: relative;
    overflow: hidden;
}

.tab-area::after {
    content: "";
    width: 100%;
    height: calc(90%);
    position: absolute;
    z-index: -10;
    top: 10%;
    left: 0;
    background-color: #e7eef5;
}

.tab-area .title-area {
    margin-top: 128px;
}

.tab-area .title-area .title__img .title__img-order {
    color: #0f8ea1;
}

.tab-area .title-area .title__wrap::after {
    background-color: #0f8ea1;
}

.tab-area .title-area .title__content {
    padding-top: 204px;
}

.tab-area.tab--01 .wrap-01 {
    margin-right: auto;
    transform: translateX(-4.8175vw);
    padding: 77px 35px 35px 67px;
    margin-top: 46px;
}

.tab-area.tab--01 .wrap-01::after {
    width: 850px;
    height: 520px;
    background-color: #c1e0e3;
    top: 20%;
    left: 5.9%;
    z-index: -3;
}

.tab-area.tab--01 .wrap-01 .chat-box {
    margin-top: 22px;
    transform: translateX(-21px);
}

.tab-area.tab--01 .wrap-01 .chat-box .f-padding-right {
    padding-right: 200px;
}

.tab-area.tab--01 .wrap-01 .tab__image.img--01 {
    width: 38.125vw;
    right: 0;
    top: 0;
    background-color: #dedede;
    z-index: -2;
    transform: translate(87.2%, -129px);
}

.tab-area.tab--01 .wrap-01 .tab__image.img--02 {
    width: 512px;
    right: 0;
    bottom: 0;
    background-color: #dedede;
    transform: translate(302px, -67px);
}

.tab-area.tab--01 .wrap-02 {
    margin-left: auto;
    transform: translateX(3.875vw);
    padding: 77px 35px 5px 86px;
    margin-top: 192px;
}

.tab-area.tab--01 .wrap-02::after {
    width: 97%;
    height: 96.5%;
    background-color: #c1e0e3;
    top: 12.3%;
    left: 12.5%;
    z-index: -3;
}

.tab-area.tab--01 .wrap-02 .chat-box {
    margin-top: 22px;
    transform: translateX(-5px);
}

.tab-area.tab--01 .wrap-02 .chat-box .f-padding-right {
    padding-left: 95px;
}

.tab-area.tab--01 .wrap-02 .tab__image.img--01 {
    width: 610px;
    left: 0;
    top: 0;
    background-color: #dedede;
    z-index: -2;
    transform: translate(-36.4vw, -5.15vw);
}

.tab-area.tab--01 .wrap-02 .tab__image.img--02 {
    width: 496px;
    left: 0;
    bottom: 0;
    background-color: #dedede;
    transform: translate(-70.6%, 14px);
}

.tab-area.tab--01 .profile {
    margin-top: 182px;
    padding-top: 105px;
}

@media only screen and (max-width: 1599px) {}

.tab-area.tab--02 {
    margin-top: -19px;
}

.tab-area.tab--02 .title-area {
    flex-direction: row-reverse;
}

.tab-area.tab--02 .title-area .title__wrap {
    padding-right: 10px;
    padding-left: 215px;
}

.tab-area.tab--02 .title-area .title__img .title__img-order {
    color: #2e6fef;
    left: unset;
    right: 187px;
}

.tab-area.tab--02 .title-area .title__wrap::after {
    background-color: #2e6fef;
    right: unset;
    left: 0;
}

.tab-area.tab--02 .wrap-01 {
    margin-left: auto;
    transform: translateX(58px);
    padding: 65px 70px 61px 71px;
    margin-top: 67px;
}

.tab-area.tab--02 .wrap-01::after {
    width: 850px;
    height: 80%;
    background-color: #c1e0e3;
    top: 11.8%;
    left: 5.9%;
    z-index: -3;
}

@media only screen and (max-width: 1599px) {}

.tab-area.tab--02 .wrap-01 .tab__image.img--01 {
    width: 610px;
    left: 0;
    top: 0;
    background-color: #dedede;
    z-index: -2;
    transform: translate(-84.2%, -134px);
}

.tab-area.tab--02 .wrap-01 .tab__image.img--02 {
    width: 500px;
    left: 0;
    bottom: 0;
    background-color: #dedede;
    transform: translate(-90%, 65px);
}

.tab-area.tab--02 .wrap-02 {
    margin-right: auto;
    transform: translateX(-69px);
    padding: 42px 100px 65px 66px;
    margin-top: 137px;
}

.tab-area.tab--02 .wrap-02::after {
    display: none;
}

.tab-area.tab--02 .wrap-02 .chat-box {
    margin-top: 22px;
    transform: translateX(-5px);
}

.tab-area.tab--02 .wrap-02 .chat-box .f-padding-right {
    padding-right: 135px;
}

.tab-area.tab--02 .wrap-02 .tab__image.img--01 {
    width: 610px;
    right: 0;
    top: 0;
    background-color: #dedede;
    z-index: -2;
    transform: translate(86.5%, -18.8%);
}

.tab-area.tab--02 .wrap-02 .tab__image.img--02 {
    width: 500px;
    right: 0;
    bottom: 0;
    background-color: #dedede;
    transform: translate(61%, 18px);
}

.tab-area.tab--02 .wrap-03 {
    margin-right: auto;
    transform: translateX(0);
    padding: 78px 65px 58px 86px;
    margin-top: 137px;
}

.tab-area.tab--02 .wrap-03::after {
    width: 97%;
    height: 86.5%;
    background-color: #c1e0e3;
    top: 22.3%;
    left: 12.5%;
    z-index: -3;
}

.tab-area.tab--02 .wrap-03 .chat-box {
    margin-top: 30px;
    transform: translateX(-13px);
}

.tab-area.tab--02 .wrap-03 .chat-box .f-padding-right {
    padding-right: 135px;
}

.tab-area.tab--02 .wrap-03 .tab__image.img--01 {
    width: 610px;
    right: 0;
    bottom: 0;
    background-color: #dedede;
    z-index: -2;
    transform: translate(86.5%, 18%);
}

.tab-area.tab--02 .wrap-04 {
    max-width: 725px;
    margin-left: auto;
    transform: translateX(0);
    padding: 22px 50px 45px 102px;
    margin-top: 185px;
}

.tab-area.tab--02 .wrap-04::after {
    display: none;
}

.tab-area.tab--02 .wrap-04 .chat-box {
    margin-top: 30px;
    transform: translateX(-13px);
}

.tab-area.tab--02 .wrap-04 .chat-box .f-padding-right {
    padding-right: 135px;
}

.tab-area.tab--02 .wrap-04 .tab__image.img--01 {
    width: 500px;
    left: 0;
    top: 0;
    background-color: #dedede;
    z-index: 1;
    transform: translate(-88.5%, -23%);
}

.tab-area.tab--02 .profile {
    margin-top: 134px;
    padding-top: 105px;
}

.tab-area.tab--03 .wrap-01 {
    margin-right: auto;
    transform: translateX(-90px);
    padding: 69px 95px 20px 63px;
    margin-top: 122px;
}

.tab-area.tab--03 .wrap-01::after {
    width: 850px;
    height: 520px;
    background-color: #c1e0e3;
    top: 20%;
    left: 5.9%;
    z-index: -3;
}

.tab-area.tab--03 .wrap-01 .chat-box {
    margin-top: 49px;
    transform: translateX(-8px);
}

.tab-area.tab--03 .wrap-01 .chat-box .f-padding-right {
    padding-right: 135px;
}

.tab-area.tab--03 .wrap-01 .chat-box .f-padding-left {
    padding-left: 135px;
}

.tab-area.tab--03 .wrap-01 .tab__image.img--01 {
    width: 667px;
    right: 0;
    top: 0;
    background-color: #dedede;
    z-index: 2;
    transform: translate(92.2%, -60px);
}

.tab-area.tab--03 .wrap-01 .tab__image.img--02 {
    width: 512px;
    right: 0;
    bottom: 0;
    background-color: #dedede;
    transform: translate(302px, -50px);
}

.tab-area.tab--03 .wrap-02 {
    max-width: 100%;
    margin-left: auto;
    transform: translateX(0);
    padding: 26px 35px 5px 30px;
    margin-top: 100px;
}

.tab-area.tab--03 .wrap-02::after {
    display: none;
}

.tab-area.tab--03 .wrap-02 .chat-box {
    margin-top: 22px;
    transform: translateX(-5px);
}

.tab-area.tab--03 .wrap-02 .chat-box .f-padding-left {
    padding-left: 47%;
}

.tab-area.tab--03 .wrap-02 .flex-box {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: start;
    justify-content: space-between;
}

.tab-area.tab--03 .wrap-02 .flex-box .chat-box,
.tab-area.tab--03 .wrap-02 .flex-box .tab__image {
    width: 100%;
    max-width: 50%;
    margin-top: 30px;
}

.tab-area.tab--03 .wrap-02 .tab__image.img--01 {
    width: 575px;
    left: 0;
    top: 0;
    background-color: #dedede;
    z-index: 2;
    transform: translate(-18%, -13%);
}

.tab-area.tab--03 .wrap-02 .tab__image.img--02 {
    width: 496px;
    position: static;
    background-color: #dedede;
}

.tab-area.tab--03 .wrap-03 {
    margin-left: auto;
    transform: translateX(90px);
    padding: 69px 95px 20px 63px;
    margin-top: 122px;
}

.tab-area.tab--03 .wrap-03::after {
    width: 850px;
    height: 520px;
    background-color: #c1e0e3;
    bottom: 0;
    left: -5.9%;
    z-index: -3;
}

.tab-area.tab--03 .wrap-03 .chat-box {
    margin-top: 49px;
    transform: translateX(-8px);
}

.tab-area.tab--03 .wrap-03 .chat-box .f-padding-right {
    padding-right: 135px;
}

.tab-area.tab--03 .wrap-03 .chat-box .f-padding-left {
    padding-left: 135px;
}

.tab-area.tab--03 .wrap-03 .tab__image.img--01 {
    width: 596px;
    left: 0;
    top: 0;
    background-color: #dedede;
    z-index: 2;
    transform: translate(-97.2%, -60px);
}

.tab-area.tab--03 .wrap-04 {
    margin-right: auto;
    transform: translateX(-90px);
    padding: 69px 95px 20px 63px;
    margin-top: 27.1875vw;
}

.tab-area.tab--03 .wrap-04::after {
    width: 745px;
    height: 430px;
    background-color: #c1e0e3;
    top: -22%;
    right: -10%;
    z-index: -3;
}

.tab-area.tab--03 .wrap-04 .chat-box {
    margin-top: 49px;
    transform: translateX(-8px);
    padding-right: 100px;
}

.tab-area.tab--03 .wrap-04 .tab__image.img--01 {
    width: 1200px;
    right: 0;
    top: 0;
    background-color: #dedede;
    transform: translate(48%, -85%);
}

.tab-area.tab--03 .wrap-04 .tab__image.img--02 {
    width: 596px;
    right: 0;
    bottom: 0;
    background-color: #dedede;
    z-index: 2;
    transform: translate(76.2%, -60px);
}

.tab-area.tab--03 .profile {
    margin-top: 182px;
    padding-top: 105px;
}

@media only screen and (max-width: 1023px) {
    .tab-area .title-area {
        padding: 0 20px;
    }
    .tab-container {
        max-width: calc(100% - 20px) !important;
        transform: translate(0) !important;
        padding: 60px 20px !important;
        margin-left: 0 !important;
        margin-right: 0 !important;
    }
    .tab-container::after {
        width: 100% !important;
        height: 100% !important;
        top: 0 !important;
        left: 0 !important;
        max-width: calc(100% - 20px) !important;
        transform: translate(40px, 20px) !important;
    }
    .tab-container .tab__image {
        position: static;
    }
    .tab-area.tab--01 .tab__image,
    .tab-area.tab--02 .tab__image,
    .tab-area.tab--03 .tab__image {
        width: 100% !important;
        transform: translate(0, 0) !important;
        margin: 50px 0;
    }
    .tab-area.tab--01 .chat-box,
    .tab-area.tab--02 .chat-box,
    .tab-area.tab--03 .chat-box {
        transform: translate(0) !important;
    }
    .tab-area .chat-box .f-padding-right,
    .tab-area .chat-box .f-padding-left {
        padding: 0 !important;
    }
    .title-area .title__img .title__img-order {
        left: 20px;
    }
    .tab-area.tab--02 .title-area .title__img .title__img-order {
        right: 20px;
    }
    .title-area .title__wrap {
        padding: 40px 20px !important;
        justify-content: center;
    }
    .title-area .title__wrap .title {
        font-size: 20px;
    }
    .tab-area.tab--03 .wrap-02 .flex-box .chat-box,
    .tab-area.tab--03 .wrap-02 .flex-box .tab__image {
        max-width: 100%;
        margin-top: 30px;
    }
}

@media only screen and (max-width: 768px) {
    .title-area .title__img,
    .title-area .title__wrap {
        max-width: 100%;
        padding: 0;
    }
    .title-area .title__wrap::after {
        max-width: 100%;
    }
    .title-area .title__img .title__img-order {
        font-size: 25px;
        letter-spacing: 1px;
        top: 20px;
        left: 20px;
    }
    .tab-container {
        max-width: 100% !important;
        margin-top: 50px !important
    }
    .tab-container .tab__title {
        font-size: 20px;
        padding-left: 10px;
    }
    .user-comment .avatar {
        width: 40px;
        height: 40px;
    }
    .tab-area.tab--01 .profile {
        margin-top: 50px;
    }
    /* .profile .profile__item {
        width: 50%;
    } */
}

@media only screen and (max-width: 768px) {
    .profile .profile__item {
        width: 100%;
        margin-top: 30px;
    }
}

.footer__container {
    margin-top: 130px;
}