.reset {
  max-width: calc(100% - 220px);
  width: 100%;
  margin: auto;
  background-color: #edf4f4;
  padding: 60px 0 30px;
  position: relative;
  z-index: 0; }
  .reset__value > p {
    font-weight: bold;
    font-size: 2rem;
    padding-left: 30px;
    color: #2e6fef;
    border-left: 2px solid #2e6fef;
    line-height: 2; }
  .reset__value__list {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: calc(100% + 8px);
    margin: 20px 0 40px; }
    .reset__value__list p {
      max-width: calc((100% - 48px) / 6);
      width: 100%;
      background-color: #fff;
      color: #000;
      font-weight: 500;
      font-size: 1.6rem;
      text-align: center;
      line-height: 2.5;
      margin-right: 8px; }
  .reset-button {
    font-family: 'Oswald', sans-serif;
    font-size: 2rem;
    font-weight: 500;
    color: #fff;
    max-width: 200px;
    width: 100%;
    background-color: #2e6fef;
    text-align: center;
    letter-spacing: 2px;
    position: absolute;
    z-index: 1;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 50%);
    line-height: 2; }

.people {
  margin-top: 300px;
  position: relative;
  z-index: 0; }
  .people::before {
    content: '';
    position: absolute;
    z-index: -1;
    top: 120px;
    left: 0;
    width: 100%;
    height: calc(100% - 320px);
    background-color: #edf4f4; }
  .people__list {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-flow: row wrap;
    width: calc(100% + 43px); }
    .people__list__child {
      max-width: calc((100% - 129px) / 3);
      width: 100%;
      margin-right: 43px;
      margin-bottom: 20px; }
      .people__list__child:nth-of-type(3n+2) {
        transform: translateY(-60px); }
      .people__list__child:nth-of-type(3n+3) {
        transform: translateY(-100px); }
      .people__list__child figure {
        position: relative;
        z-index: 0; }
        .people__list__child figure figcaption {
          position: absolute;
          z-index: 1;
          top: 20px;
          left: 20px;
          background-color: #0f55a1;
          width: max-content;
          display: table;
          color: #fff;
          line-height: 2;
          border-radius: 25px;
          padding: 0 15px; }
      .people__list__child .introduce {
        background-color: #fff;
        transform: translate(-30px, -40px);
        min-height: 130px;
        padding: 0 40px 0 30px;
        display: flex;
        justify-content: space-between;
        align-items: center; }
        .people__list__child .introduce p {
          max-width: 50%;
          width: 100%;
          font-size: 1.8rem;
          text-align: center; }
        .people__list__child .introduce h3 {
          max-width: 50%;
          text-align: right;
          font-weight: 500;
          font-size: 2.2rem;
          color: #333; }
          .people__list__child .introduce h3 span {
            display: block;
            font-family: 'Oswald', sans-serif;
            font-weight: 500;
            font-size: 1.3rem; }
            .people__list__child .introduce h3 span.mini-txt {
              font-size: 1.4rem;
              opacity: 0.5;
              margin-top: 10px; }
        .people__list__child .introduce--green {
          box-shadow: 0 0 20px rgba(15, 142, 161, 0.2); }
          .people__list__child .introduce--green h3 span.color {
            color: #0f8ea1;
            margin-bottom: 5px; }
        .people__list__child .introduce--blue {
          box-shadow: 0 0 20px rgba(15, 85, 161, 0.2); }
          .people__list__child .introduce--blue h3 span.color {
            color: #0f55a1;
            margin-bottom: 5px; }

.info {
  padding-top: 115px;
  position: relative;
  z-index: 0;
  margin-top: 60px; }
  .info::before {
    content: '';
    position: absolute;
    z-index: 0;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    max-width: 830px;
    width: 100%;
    height: 1px;
    background-color: #eeeeee; }
  .info__block {
    position: relative;
    z-index: 0;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    max-width: calc(100% - 245px);
    width: 100%;
    margin-bottom: 190px; }
    .info__block .img-decord {
      position: absolute;
      z-index: 0;
      top: 0;
      left: 0; }
    .info__block:first-of-type .img-decord {
      right: 0;
      left: auto;
      transform: translate(115px, -80px); }
    .info__block__img {
      max-width: calc(50% - 85px);
      width: 100%;
      position: relative;
      z-index: 0; }
      .info__block__img::before {
        content: '';
        position: absolute;
        z-index: -1;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background-color: #edf4f4;
        transform: translate(22%, 28%); }
    .info__block--right {
      margin-left: auto;
      margin-right: 0;
      align-items: flex-end;
      margin-bottom: 235px; }
      .info__block--right .img-decord {
        transform: translate(160px, 15px); }
      .info__block--right .info__block__img::before {
        transform: translate(-22%, 28%); }
    .info__block--small-content {
      margin-top: 100px;
      margin-bottom: 370px; }
      .info__block--small-content .info__block__content h2, .info__block--small-content .info__block__content p {
        max-width: calc(100% - 105px);
        width: 100%; }
      .info__block--small-content .img-decord {
        bottom: 0;
        top: auto;
        transform: translateY(250px); }
    .info__block__content {
      max-width: 50%;
      width: 100%;
      z-index: 1; }
      .info__block__content h2 {
        font-weight: bold;
        font-size: 3rem;
        color: #2e6fef;
        line-height: 1.5;
        margin-bottom: 50px; }
      .info__block__content p {
        font-weight: 500;
        font-size: 1.6rem;
        color: #333;
        line-height: 2; }
  .info__img-decord {
    max-width: calc(100% + 40px);
    width: 100%;
    transform: translateX(35px); }
    .info__img-decord img {
      width: auto;
      height: auto;
      margin-left: auto;
      margin-right: 0; }
  .info__offtime {
    position: relative;
    z-index: 0;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    margin-bottom: 200px; }
    .info__offtime::before {
      content: '';
      position: absolute;
      z-index: 0;
      top: 0;
      left: 0;
      transform: translate(-80px, -70px);
      width: calc(100% + 160px);
      height: calc(100% + 140px);
      border: 3px solid #2e6fef; }
    .info__offtime h2 {
      max-width: 210px;
      width: 100%;
      border-right: 1px solid #2e6fef;
      margin-right: 70px;
      padding-bottom: 60px;
      font-family: 'Oswald', sans-serif;
      font-weight: 500;
      font-size: 2.2rem;
      color: #2e6fef;
      line-height: 1.5; }
      .info__offtime h2 span {
        font-family: 'Yu Gothic', sans-serif;
        font-weight: bold;
        font-size: 1.8rem;
        display: block; }
    .info__offtime p {
      max-width: 650px;
      width: 100%; }
    .info__offtime figure {
      position: absolute;
      z-index: 1;
      bottom: 0;
      right: 0;
      transform: translate(110px, 25px); }

.other-people {
  padding-top: 100px;
  position: relative;
  z-index: 0;
  margin-bottom: 200px; }
  .other-people::before {
    content: '';
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    width: 100%;
    height: 50%;
    background-color: #edf4f4; }
  .other-people h2 {
    text-align: center;
    font-family: 'Oswald', sans-serif;
    font-weight: 500;
    font-size: 4rem;
    letter-spacing: 10px;
    color: #2e6fef;
    line-height: 1.5;
    margin-bottom: 50px; }
    .other-people h2 span {
      display: block;
      font-family: 'Yu Gothic', sans-serif;
      font-size: 2rem;
      color: #333; }
  .other-people__list {
    display: flex;
    justify-content: flex-start;
    align-items: stretch;
    width: calc(100% + 86px);
    margin-bottom: 50px; }
    .other-people__list__child {
      max-width: calc((100% - 344px) / 4);
      width: 100%;
      margin-right: 86px;
      display: block;
      outline: none; }
      .other-people__list__child:hover {
        opacity: 0.8; }
      .other-people__list__child figure {
        position: relative;
        z-index: 0;
        min-height: 245px;
        display: flex;
        justify-content: center;
        align-items: center; }
        .other-people__list__child figure figcaption {
          position: absolute;
          z-index: 1;
          top: 10px;
          right: 10px;
          background-color: #0f8ea1;
          border-radius: 20px;
          padding: 0 15px;
          font-weight: 500;
          font-size: 1.8rem;
          color: #fff;
          text-align: center;
          line-height: 2; }
      .other-people__list__child .detail {
        padding: 10px 0; }
        .other-people__list__child .detail h3 {
          font-weight: bold;
          font-size: 1.3rem;
          color: #0f8ea1;
          line-height: 2; }
        .other-people__list__child .detail p {
          line-height: 1;
          color: #333; }
  .other-people a.btn-other {
    display: block;
    max-width: 410px;
    text-align: center;
    margin: auto;
    position: relative;
    z-index: 0;
    font-weight: bold;
    font-size: 2rem;
    color: #fff;
    outline: none;
    background-color: #fff;
    line-height: 3;
    border: 1px solid #2e6fef;
    transition: all 0.5s ease; }
    .other-people a.btn-other::before {
      content: '';
      position: absolute;
      z-index: -1;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: #2e6fef;
      transition: all 0.5s ease;
      transform-origin: left center; }
    .other-people a.btn-other:hover {
      color: #2e6fef; }
      .other-people a.btn-other:hover::before {
        transform: scaleX(0); }

@media screen and (max-width: 1023px) {
  .reset {
    max-width: 100%; } }
@media screen and (max-width: 767px) {
  .reset__value__list {
    flex-flow: row wrap;
    justify-content: flex-start; }
    .reset__value__list p {
      max-width: calc((100% - 16px) / 2);
      margin-right: 8px;
      margin-bottom: 10px; }

  .people {
    margin-top: 100px; }
    .people__list {
      flex-flow: column wrap;
      width: 100%; }
      .people__list__child {
        max-width: 100%;
        transform: translateY(0) !important;
        margin-right: 0; } }

/*# sourceMappingURL=people.css.map */
