<footer>
	<div class="footer__container mt-1h">
		<p class="entry">ENTRY</p>
		<p class="entry-desc">マイページ画面よりエントリーいただけます</p>
	</div>
	<div class="copy-right">
		<p>
			| Copyright © TERASAKI ELECTRIC CO.,LTD All rights reserved
		</p>
	</div>
</footer>
<div class="loading">
	<div class="loading-icon">
	</div>
	<div class="loading-text">Loading
		<span class="loading-dots">.</span>
		<span class="loading-dots">.</span>
		<span class="loading-dots">.</span>
	</div>
</div>