<header>
	<nav class="nav">
		<h1 class="nav__logo">
			<a href="#{path}">
				<img src="#{path}images/common/img_logo.png" alt="">
			</a>
		</h1>
		<ul class="nav__navbar">
			<li>
				<a class="orange" href="#">
					| インターンシップ
				</a>
			</li>
			<li>
				<a class="dark-blue" href="#">
					| マイページ
				</a>
			</li>
		</ul>
		<div class="nav-mark"></div>
		<div class="hamburger">
			<span></span>
			<span></span>
		</div>
	</nav>
</header>