@charset "utf-8";
@import "../css/functions.scss";
$font_oswald: 'Oswald',
sans-serif;
.hero {
    width: 100%;
    .hero__content {
        width: 100%;
        figure {
            width: 100%;
        }
        @include mobile {
            height: 500px;
            figure {
                height: 100%;
                img {
                    height: 100%;
                    object-fit: cover;
                }
            }
        }
    }
}

.cm {
    .cm__container {
        width: 100%;
        max-width: 1120px;
        min-height: 30rem;
        transform: translateY(-106px);
        margin: 0 auto;
        padding-top: 53px;
        &.bg-white {
            background-color: #fff;
        }
        @include ipadpro {
            transform: translateY(0);
            padding-top: 1rem;
        }
        @include mobile {
            min-height: 20rem;
        }
    }
    .cm__content {
        .cm__title {
            text-align: center;
            font-size: 2.8rem;
            color: #333;
            font-weight: 500;
            line-height: 1.5;
            margin-top: 3rem;
            span {
                color: #2e6fef;
                font-size: 3rem;
                font-family: $font_oswald;
                display: block;
                letter-spacing: 4px;
                font-weight: 500;
            }
            &.big {
                font-size: 20px;
                span {
                    font-size: 40px;
                }
            }
            &.small {
                font-size: 16px;
                span {
                    font-size: 16px;
                }
            }
            &.align-left {
                text-align: left;
            }
        }
        .cm__lead {
            font-size: 16px;
            color: #333;
            font-weight: 500;
            line-height: 2.2;
            letter-spacing: 1.56px;
        }
    }
    .cm__box {
        margin-top: 9.6rem;
    }
}