li.parent-lists.relative.h-2h75.flex.items-center.justify-center(class="mb:order-2")
	+blockimg('clock', ['平均残業時間（月）'])
		+odomete(['2.4', '時<br>間'], 'items-end justify-center text-blue-option4 mt-1ty' ,'text-5ty8 font-en font-medium', 'text-2ty6 ml-3p')
		+textsub('2018年度', 'mt-2ty5')
	+lineHeight('-right-px')
	+lineWidthFull('-bottom-px left-0')
li.parent-lists.relative.h-2h75.flex.items-center.justify-center(class="mb:order-1")
	+blockimg('personal', ['学部卒・院卒割合'])
		ul.lists-inner.flex.justify-between.mt-1ty8
			li(class="last:mr-0 mr-2ty")
				+odomete(['00', '%'], 'text-blue-custom1 font-en font-medium items-end' ,'text-7ty', 'text-2ty6 mb-2p', '学<br>部', 'flex items-end justify-start', 'flex items-center text-white h-6ty px-3p mr-1ty5 bg-blue-custom1')
			li(class="last:mr-0 mr-2ty")
				+odomete(['00', '%'], 'text-blue-option2 font-en font-medium items-end' ,'text-7ty', 'text-2ty6 mb-2p', '院<br>卒', 'flex items-end justify-start', 'flex items-center text-white h-6ty px-3p mr-1ty5 bg-blue-option2')
	+lineWidth('-bottom-px')
li.parent-lists.relative.h-2h75.flex.items-center.justify-center(class="mb:order-3")
	+blockimg('child', ['産休・育休取得率'])
		+odomete(['100', '%'], 'items-end justify-center text-pink-option1 font-en font-medium mt-3p' ,'text-6ty6', 'text-2ty5 mb-2p')
		+textsub('2014年～2018年', 'mt-2ty')
	+lineHeight('-left-px')
	+lineWidthFull('-bottom-px right-0')

