li.parent-lists.relative.h-2h75.flex.items-center.justify-center(class="mb:h-auto mb:py-0 tl:order-2 mb:order-none")
	+blockimg('clock', ['平均残業時間（月）'])
		+odomete(['2.4', '時<br>間'], 'items-end justify-center text-blue-option4 mt-1ty' ,'text-5ty8 font-en font-medium', 'text-2ty6 ml-3p')
		+textsub('2018年度', 'mt-2ty5')
	+lineHeight('-right-px mb:hidden')
	+lineWidthFull('-bottom-px left-0 mb:w-calc-3ty mb:left-2/4 mb:transform mb:-translate-x-1/2')
li.parent-lists.relative.h-2h75.flex.items-center.justify-center(class="mb:h-auto mb:py-0 tl:col-span-2 tl:order-1 mb:col-auto mb:order-none")
	+blockimg('personal', ['学部卒・院卒割合'])
		ul.lists-inner.flex.justify-between.mt-1ty8(class='mb:mt-0')
			li(class="last:mr-0 mr-2ty")
				+odomete(['00', '%'], 'text-blue-custom1 font-en font-medium items-end' ,'text-7ty', 'text-2ty6 mb-2p', '学<br>部', 'flex items-end justify-start', 'flex items-center text-white h-6ty px-3p mr-1ty5 bg-blue-custom1 mb:h-4ty')
			li(class="last:mr-0 mr-2ty")
				+odomete(['00', '%'], 'text-blue-option2 font-en font-medium items-end' ,'text-7ty', 'text-2ty6 mb-2p', '院<br>卒', 'flex items-end justify-start', 'flex items-center text-white h-6ty px-3p mr-1ty5 bg-blue-option2 mb:h-4ty')
	+lineWidth('-bottom-px')
li.parent-lists.relative.h-2h75.flex.items-center.justify-center(class="mb:h-auto mb:py-0 tl:order-3 mb:order-none")
	+blockimg('child', ['産休・育休取得率'])
		+odomete(['100', '%'], 'items-end justify-center text-pink-option1 font-en font-medium mt-3p' ,'text-6ty6', 'text-2ty5 mb-2p')
		+textsub('2014年～2018年', 'mt-2ty')
	+lineHeight('-left-px mb:hidden')
	+lineWidthFull('-bottom-px right-0 mb:w-calc-3ty mb:left-2/4 mb:transform mb:-translate-x-1/2 mb:right-auto')

