li.parent-lists
	ul.child-list(class= grid_child)
		li(class= name_c + tw_child)
			+blockimg('pen', ['学生の頃','部活していた？'])
				.mt-1ty5
					+odomete(['00', '%'], 'text-blue-option4 font-en font-medium items-end' ,'text-4ty5', 'text-2ty5 mb-2p', '参加していた', 'flex justify-end items-center last:mb-0 mb-1ty5', 'table text-white w-6ty5 text-center py-5p px-7p mr-1ty5 whitespace-nowrap bg-blue-option4')
					+odomete(['00', '%'], 'text-grey-option4 font-en font-medium items-end' ,'text-4ty5', 'text-2ty5 mb-2p', '帰宅部', 'flex justify-end items-center last:mb-0 mb-1ty5', 'table text-white w-6ty5 text-center py-5p px-7p mr-1ty5 whitespace-nowrap bg-grey-option4')
			+lineWidthFull('-top-px left-0 mb:hidden')
			+lineWidth('-top-px hidden mb:block')
		li(class= name_c + tw_child)
			+blockimg(false, ['ひとりあたりの', '年間平均有給', '取得日数'])
				+odomete(['00', '日'], 'items-end text-orange-option1 mt-1ty pl-3ty5' ,'text-8ty5 font-en font-medium', 'text-3ty1 mb-2p')
			+lineWidth('-top-px')
			+lineHeight('-left-px mb:hidden')
		li(class= name_c + tw_child)
			+blockimg('couple', ['男女比率'])
				.flex.justify-center.items-end.mt-1ty8(class='mb:mt-0')
					+odomete(['83'], 'text-blue-custom1 text-6ty5 font-en font-medium' ,false, false, '男', 'flex flex-col items-center', 'table text-white w-7ty text-center py-3p bg-blue-custom1')
					span.text-6ty5.text-grey-option7.mr-7p(class='mb:text-3ty') :
					+odomete(['17'], 'text-blue-option2 text-6ty5 font-en font-medium' ,false, false, '女', 'flex flex-col items-center', 'table text-white w-7ty text-center py-3p bg-blue-option2')
				+textsub('2018年度', 'mt-1ty2')
			+lineWidthFull('-top-px left-0 mb:hidden')
			+lineWidth('-top-px hidden mb:block')
		li(class= name_c + tw_child)
			+blockimg('sunglass', ['メガネ率'])
				+odomete(['00', '%'], 'items-end text-blue-option4 font-en font-medium mt-1ty5 pl-3ty5' ,'text-8ty5', 'text-3ty1 mb-2p')
				+textsub('2014年～2018年', 'mt-1ty5')
			+lineWidth('-top-px')
			+lineHeight('-left-px mb:hidden')
li.parent-lists.pie.flex.items-center.justify-center.relative(class='mb:h-auto mb:py-3ty')
	+pie('退社後の過ごし方', 'pie2')
		.mt-4ty.max-w-4h50.w-full.mx-auto(class='mb:mt-2ty')
			ul.flex.justify-start.flex-wrap
				li(class="mr-1ty5 last:mr0 mb:my-7p")
					+odomete(['00', '%'], 'text-blue-custom1 items-end font-en font-medium' ,'text-4ty5', 'text-2ty5 mb-2p', `家族で過ごす`, 'flex flex-col items-center items-center', 'table text-white py-3p px-7p mb-2p bg-blue-custom1 whitespace-nowrap')
				li(class="mr-1ty5 last:mr0 mb:my-7p")
					+odomete(['00', '%'], 'text-blue-option2 items-end font-en font-medium' ,'text-4ty5', 'text-2ty5 mb-2p', `友人・恋人と過ごす`, 'flex flex-col items-center items-center', 'table text-white py-3p px-7p mb-2p bg-blue-option2 whitespace-nowrap')
				li(class="mr-1ty5 last:mr0 mb:my-7p")
					+odomete(['00', '%'], 'text-blue-option1 items-end font-en font-medium' ,'text-4ty5', 'text-2ty5 mb-2p', `同僚と食事`, 'flex flex-col items-center items-center', 'table text-white py-3p px-7p mb-2p bg-blue-option1 whitespace-nowrap')
			ul.flex.justify-start.mt-2ty.flex-wrap(class='mb:mt-1ty')
				li(class="mr-1ty2 last:mr0 mb:my-7p")
					+odomete(['00', '%'], 'text-orange-option1 items-end font-en font-medium' ,'text-4ty5', 'text-2ty5 mb-2p', `ジム・筋トレ`, 'flex flex-col items-center items-center', 'table text-white py-3p px-7p mb-2p bg-orange-option1 whitespace-nowrap')
				li(class="mr-1ty2 last:mr0 mb:my-7p")
					+odomete(['00', '%'], 'text-green-option1 items-end font-en font-medium' ,'text-4ty5', 'text-2ty5 mb-2p', `買い物`, 'flex flex-col items-center items-center', 'table text-white py-3p px-7p mb-2p bg-green-option1 whitespace-nowrap')
				li(class="mr-1ty2 last:mr0 mb:my-7p")
					+odomete(['00', '%'], 'text-blue-option3 items-end font-en font-medium' ,'text-4ty5', 'text-2ty5 mb-2p', `趣味・習い事`, 'flex flex-col items-center items-center', 'table text-white py-3p px-7p mb-2p bg-blue-option3 whitespace-nowrap')
				li(class="mr-1ty2 last:mr0 mb:my-7p")
					+odomete(['00', '%'], 'text-grey-option5 items-end font-en font-medium' ,'text-4ty5', 'text-2ty5 mb-2p', `その他`, 'flex flex-col items-center items-center', 'table text-white py-3p px-7p mb-2p bg-grey-option5 whitespace-nowrap')
	+lineHeight('-left-px tl:hidden')
	+lineWidthFull('right-0 -top-px mb:hidden')
	+lineWidth('-top-px hidden mb:block')
	