- mc= 'parent-lists relative h-2h75 flex items-center justify-center mb:h-auto'
li(class= mc)
    +blockimg('house', ['創業'])
        +odomete2(['1923','年', '10', '月', '1', '日'], 'text-blue-option4 mt-4ty5', 'text-3ty5 font-en font-medium', 'text-2ty5')
    +lineHeight('-right-px mb:hidden')
    +lineWidthFull('left-0 -bottom-px mb:left-2/4 mb:transform mb:-translate-x-1/2 mb:w-calc-3ty')
li(class= mc)
    +blockimg(false, ['設立'])
        +odomete2(['1980','年', '4', '月', '1', '日'], 'text-blue-option2 mt-4ty5', 'text-3ty5 font-en font-medium', 'text-2ty5')
    +lineHeight('-right-px tl:hidden')
    +lineWidth('-bottom-px')
li(class= mc)
    +blockimg('data', ['資本金'])
        +odomete2(['12','億', '3,664', '万円'], 'text-orange-option1 mt-4ty5', 'text-3ty5 font-en font-medium', 'text-2ty5')
    +lineHeight('-right-px mb:hidden')
    +lineWidth('-bottom-px')
li(class= mc)
    +blockimg('grow', ['連結売上高'])
        +odomete2(['353','億', '1,100', '万円'], 'text-grey-option4 mt-2ty5', 'text-3ty5 font-en font-medium', 'text-2ty5')
        +textsub('（個別売上高239億4,600万円）', 'mt-1ty5')
    +lineWidthFull('right-0 -bottom-px mb:left-2/4 mb:transform mb:-translate-x-1/2 mb:w-calc-3ty mb:right-auto')
li(class= mc)
    +blockimg(false, ['利益成長連続年数'])
        +odomete(['00', '社'], 'items-end justify-center text-green-option1 mt-1ty5' ,'text-8ty2 font-en font-medium', 'text-3ty1 mb-2p')
    +lineHeight('-right-px mb:hidden')
    +lineWidthFull('left-0 -bottom-px mb:left-2/4 mb:transform mb:-translate-x-1/2 mb:w-calc-3ty mb:right-auto')
li(class= mc)
    +blockimg('building', ['顧客数'])
        +odomete(['00', '社'], 'items-end justify-center text-pink-option1 mt-1ty5' ,'text-8ty2 font-en font-medium', 'text-3ty1 mb-2p')
    +lineHeight('-right-px tl:hidden')
    +lineWidth('-bottom-px')
li(class= mc)
    +blockimg(false, ['販売パートナー'])
        +odomete(['00', '社'], 'items-end justify-center text-blue-custom1 mt-1ty5' ,'text-8ty2 font-en font-medium', 'text-3ty1 mb-2p')
    +lineHeight('-right-px mb:hidden')
    +lineWidth('-bottom-px')
li(class= mc)
    +blockimg('group_people', ['従業員'])
        +odomete(['00', '社'], 'items-end justify-center text-blue-option4 mt-1ty5' ,'text-8ty2 font-en font-medium', 'text-3ty1 mb-2p')
    +lineWidthFull('-bottom-px right-0 mb:left-2/4 mb:transform mb:-translate-x-1/2 mb:w-calc-3ty mb:right-auto')