mixin titleh2(textEn, textJp)
  - altImg= textJp
  h2(class= h2).mb-24
    span.text-lv2.block.text-center.leading-normal!= textJp
    span.text-lv4.text-blue-custom1.block.text-center.font-en.leading-none.mt-2!= textEn