div(class= mc + '-contents mb:max-w-full mb:px-2ty mb:py-3ty').text-white.max-w-calc2-40.w-full.bg-blue-custom3.pr-lv2
    div(class= mc + '-title mb:max-w-full').max-w-520.w-full.flex.flex-col.font-medium.items-end.justify-center.h-full
        h2(class= h2 + ' mb:mx-auto mb:mb-3ty').mb-lv7.max-w-260.w-full
            span.text-lv2_4.block.text-center.leading-normal(class="mb:text-1ty8") 人を知る
            span.text-lv4.block.text-center.font-en.leading-none.mt-2(class="mb:text-2ty4") PEOPLE
        +button('max-w-260 border-white text-white mb:mx-auto', '社員一覧を見る')