include ../components/__mixin.pug
include ../mixin/__common.pug
include ../components/__variables.pug

- var path = '../'
- var surClass = 'company'
- var page= 'company'
- var banner= [true, 'COMPANY PROFILE', '会社情報', false, 'text-3ty', 'text-2ty8 mt-1ty5']
doctype html
html
	head 
		include ../components/__meta.pug
		+head( 'COMPANY', ['assets/css/reset.css', 'assets/css/bootstrap_custom.css', 'css/common.css', 'css/tailwind.css' ,'css/company.css'], true )
	body 
		include ../layout/__header.pug
		main(class= surClass)
			include ../layout/__partbanner.pug
			.library-cm
				- surClass= 'company-firtView'
				section(class= surClass)
					.container 
						//- +title_h2(surClass, classTitle, ['COMPANY PROFILE', '会社情報'])
						p(class= surClass + '-linehead')
							| 最先端テクノロジーを扱う寺崎電気産業。しかしその歴史は意外と古く、1923年にスイッチメーカーとしてスタートしました。
							br
							| その後、配電盤の製造販売に乗り出し、大型船舶や地下鉄駅舎等へ製品を納入してきました。1960年代に世界初の「限流ブレーカ」を開発。また、配電盤業界において創業90年を超える当社は「老舗」と呼べる存在ですが、もちろん企業たるもの古いだけでは存続できません。1960年からエレクトロニクス分野、1970年から海外へ進出し、地球温暖化防止に貢献する「コージェネレーションシステム」へもいち早く取り組み、2010年には、船舶のCO2排出削減に大きく寄与する「陸上電力供給システム」及び「船舶向け太陽光発電システム」の設計・施工を手掛けました。90年の歴史はフロンティア精神旺盛なチャレンジの歴史でもあります。国際規格ISO9000シリーズ、ISO14000シリーズ、ISO13485、OHSAS18001も取得済。
							br
							| 2007年3月にはジャスダック証券取引所（現　株式会社東京証券取引所ジャスダック市場）へ上場しました。
				- surClass= 'company-bulletin'
				section(class= surClass)
					.container
						ul(class= surClass + '-boards')
							+list-ul(path, surClass, ['board', 'img', 'content', 'title'], 'images/company/img_photo1.jpg',[
								'船舶用システム製品',
								'世界の海運・造船界を支える舶用工業メーカーとして半世紀以上にわたり、世界トップレベルの配電制御システムや機関監視制御システムを提供しています。主にLNG船・大型客船・コンテナ船など1万トンを超える規模の船舶へ納品しています。<br>これらの技術・ノウハウを活かし、製品作りのみならず施工・保守管理などのエンジニアリングも行っています。',
								'事業品目',
								'配電制御システム、機関監視制御システム、集合始動器盤、高圧配電盤、停泊中船舶への陸電供給システム、船舶教育用エンジンルームシミュレーションシステム'
							])
							+list-ul(path, surClass, ['board', 'img', 'content', 'title'], 'images/company/img_photo2.jpg',[
								'産業用システム製品',
								'電気エネルギー制御技術を中核に据え、当社保有の各種コア技術を結合することによって、時代の要請を先取りした配電制御システムから電子デバイス、そしてエンジニアリングまでを幅広い産業分野に提供しています。また環境問題で注目される、コージェネレーションシステムも手掛けています。',
								'事業品目',
								'配電制御システム、コージェネレーションシステム、電子応用製品、高圧配電盤'
							], true)
							+list-ul(path, surClass, ['board', 'img', 'content', 'title'], 'images/company/img_photo3.jpg',[
								'機器（ブレーカ）製品',
								'ブレーカ（配線用遮断器）は配電ネットワークを保護する基幹デバイスです。我が国でいち早くブレーカを独自開発した当社は1960年代からグローバルに活動を展開しており、世界屈指のブレーカ専門メーカーとして常に最先端のブレーカを、世界の主要空港・大規模ビル・国連関連施設等、世界市場に提供しています。',
								'事業品目',
								'気中遮断器、配線用遮断器、漏電遮断器、ケーブル貫通部用総合防災品'
							])
							+list-ul(path, surClass, ['board', 'img', 'content', 'title'], 'images/company/img_photo4.jpg',[
								'メディカルデバイス',
								`これまで培ってきた電気電子ノウハウ及び制御ノウハウの要素技術をベースに、最先端の医療機器技術を兼ね備えた製品を、開発・設計・製造しています。<br>
								ISO13485（医療機器の品質マネジメントシステム）を取得し、医療機器の開発から製造までを一貫体制で行っており、<br>
								人工透析装置のユニット及び各種臨床検査機器などを提供しています。`,
								'事業品目',
								'人工透析装置のユニット、臨床検査機器'
							], true)
							+list-ul(path, surClass, ['board', 'img', 'content', 'title'], 'images/company/img_photo5.jpg',[
								'エンジニアリング及びライフサイクルサービス',
								'磨き上げられたエンジニアリング技術やマネジメント力でお客様のニーズにお応えしています。また、船舶や機械設備が生まれてからその最後を迎えるまでの「ライフサイクル」の視野に立ったソリューションをお届けし、お客様が導入された設備を安全に、永く、安心してお使いいただけるよう支援します。',
								'事業品目',
								'当社製品の保守・メンテナンスサービス・機械設備の設計・構築等のエンジニアリングサービス'
							])
				- surClass = 'company-infor'
				section(class= surClass)
					.container
						+list-infor(surClass, ['wrap'], [
							['本社所在地', '〒547-0002 大阪府大阪市平野区加美東6-13-47'],
							['電話番号', '本社／06-6791-2701（代表）'],
							['創業', '1923年'],
							['資本金', '12億3,664万円'],
							['従業員', `個別／558人<br>
							連結／1,811人（パート等は除く）<br>
							（2018年度）`],
							['売上高', `個別／23,994百万円<br>
							連結／35,311百万円<br>
							（2018年度）`],
							['事業所', `本社／大阪市平野区<br>
							国内／大阪、東京、仙台、名古屋、福岡、伊万里、香川<br>
							海外／上海(中国)、ハンブルグ(ドイツ)`],
							['主な取引先', `APL Co Pte Ltd、CHINA UNITED SHIPBUILDING CO.,、CSBC CORPORATION,TAIWAN.、<br>
							HAGER ELECTRIC EUROPE、JRCS、NHP ELECTRICAL ENGINEERING、渦潮電機、大島造船所、川崎重工業、河村電器産業、三光電業、ジャパンマリンユナイテッド、中央工機産業、中立電機、東芝産業機器システム、日東工業、富士電機、富士電機機器制御、三菱重工業、ヤンマーエネルギーシステム　他　※敬称略、五十音順`],
							['関連会社', `テラテック(株)、テラメックス(株)、(株)耶馬溪製作所、寺崎ネルソン(株)、<br>
							テラサキ伊万里(株)ほか、海外子会社を含めて連結子会社13社`],
							['問い合わせ先', `〒547-0002 大阪市平野区加美東6-13-47 総務部人事課<br>
							E-MAIL／jinjibu@terasaki.co.jp 採用担当`],
							['交通機関', `JR　関西本線（大和路線）「加美」駅<br>
							JR　おおさか東線　「新加美」駅<br>
							いずれの駅からも徒歩約10分`]
						])
					figure(class= surClass + '-map')
						img(src= path + 'images/company/img_map.jpg', alt = '地図')
				- surClass= 'company-trends'
				section(class= surClass)
					.container
						p(class= surClass + '-linehead')= '売上高推移' 
						.overflow-auto
							+list-infor(surClass, ['table'], [
								['決算期', `売上高<br>
								（単位：百万円　連結）`],
								['2014年度', '39,777'],
								['2015年度', '39,400'],
								['2016年度', '32,873'],
								['2017年度', '36,880'],
								['2018年度', '35,311']
							])
				- surClass= 'company-history'
				section(class= surClass)
					.container 
						+title_h2(surClass, classTitle, ['HISTORY', '沿革'])
						+list-year(surClass, ['steps', 'step', 'dot', 'year', 'year-num', 'year-text'], [
							['1923', '年'],
							['1970', '年'],
							['1970', '年'],
							['1970', '年'],
							['1970', '年'],
							['1971', '年']
						], bttnLeft, bttnRight, active)
						div(class= surClass + '-last')
							p
								span.year-num= '1923'
								span.year-text= '年'
							p= '寺崎電機製作所創業'
		include ../layout/__footer.pug
		+addjs(['assets/js/jquery-3.5.1.min.js', 'js/common.js'])


