include ../components/__mixin.pug
include ../mixin/__factory.pug
- var path = '../'
- var mc = 'factory'
- var cm_p= 'tracking-wider leading-1lv9'
- var count = 0
doctype html
html
	head 
		include ../components/__meta.pug
		+head('FACTORY', ['assets/css/reset.css', 'assets/css/bootstrap_custom.css', 'css/common.css', 'css/tailwind.css'], true )
	body 
		main(class= mc).font-medium
			.library-cm
				div(class= mc + '-map mb:py-3ty').bg-blue-custom2.pt-8ty.pb-6ty5
					.container
						figure
							img(src= path + 'images/factory/img_map.png', alt="map")
				- mc= 'contentBlock'
				div(class= mc).overflow-hidden
					.container
						ul(class= mc + '-list mb:mt-6ty').mt-1h10
							+list([
								'東北営業所',
								'仙台市',
								'東北営業所は仙台市宮城野区にあり、東北6県(福島県、宮城県、山形県、岩⼿県、秋⽥県、青森県)及び北海道地区を 営業範囲エリアとし、幅広く受注活動を行っています。 移動は社用車を使用し、⼀⽇約700キロを走る・・・なんて事も日常です。 東北地方では珍しいほど雪は降らず、積雪は年に数回で2〜3cmくらいです。 また、海(仙台港)が近く魚介類が豊富で安く食べられ、米も美味しく住みやすい所ですよ。(牡蠣・牛タン・笹カマがオススメです!)'
							], `テラサキは営業・設計・生産と、全て一貫して自社で行えるのが強みです。<br>自分の力が発揮できる職場を選択して、皆で頑張り、現在の厳しい社会状況と戦っていきましょう！<br>入社されるのを、そして東北営業所で一緒に働ける日を楽しみに待っています。`)
								span.block.absolute(class='-translate-y-1/2 top-2/4').-left-1h85.transform
									img(src= path +'images/factory/img_pattern1.png', alt="pattern")
							+list([
								'東京営業所',
								'中央区 日本橋',
								'東京営業所には機器事業・システム事業の両事業が同居しています。 関東地区全域を営業テリトリーとしており、当社製品採用のお願いとPR活動を行い、受注に結びつける事に所員全員が協力し取組んでいます。所員の1/3は入社4年未満の若い人であり、男女共に活躍している明るい職場です。仕事では厳しく指導しますが、アフター５は友達感覚の付き合いです。事務所は地下鉄・茅場町駅の真上にあり、通勤にも、営業活動にも、ランチにも便利な場所です。また、屋形船での宴会やボーリング大会、ゴルフコンペなど、半年に一度催し物を計画し、親睦を深めています。'
							], `営業はお客様の窓口であり、会社を代表する顔です。明るく・活発で・素直な方と一緒に是非働きたいですね。面接では物怖じせずに、自分の考えをはっきり伝え、相手の印象に残る様に心がけて下さい。<br>
							一緒に働ける日が来ることを楽しみにしています！`)
							+list([
								'名古屋営業所',
								'名古屋市',
								`名古屋営業所は東名高速の名古屋IC近くの名東区社口で、名古屋駅からは地下鉄東山線で約20分(一社駅)のところにあり、愛知県・三重県・岐阜県・静岡県が営業範囲エリアです。営業活動はほとんど社用車を使用します。<br>
								お客様は自動車関連のエンドユーザー、カスタム配電盤メーカー、標準配電盤メーカー等が中心で、日々CS（顧客満足）度アップに向け走り回っています。所員には舌の肥えたグルメが多いので、誰かが美味しい店を見つけたら即、飲み会が計画されます。とにかく食べることに関しての話題は絶えません…。`
							], `昔から「名古屋で商売(営業)が出来たら、何処へいっても商売が出来る」と言われてきました。<br>
							一流の営業パーソンを目指したい学生諸君、我々と一緒に頑張りましょう！`)
							+list([
								'四国営業所',
								'坂出市',
								`四国営業所は坂出市にあり、中国・四国地方の配電制御システムメーカーにブレーカを販売しています。活動範囲が広く競争も激しいエリアですが、営業を通じて山陽、山陰、四国地方の様々な人、土地に触れられるところが魅力です。営業所内の雰囲気は、仕事はしっかり集中して行い、休日はしっかり休む、メリハリのある感じです。<br>
								また、少人数の営業所ですので、１人あたりのスペースは広いです。<br>
								近隣にはおいしい讃岐うどんのお店がいくつもあり、１週間毎日うどん、なんてことも。ちょっと太ってしまうことが悩みです。（笑）
								四国には楽しみながら仕事ができる環境がありますよ！`
							], `四国営業所の担当エリアは四国４県に中国地方を加えた、とても広い行動範囲で、まだまだ営業できていない未開発の地域、分野がたくさんあります。
							私たちと一緒に新規開拓目指して頑張りましょう！`)
							+list([
								'九州営業所',
								'福岡市',
								`九州全域を社用車で訪問するので、特に運転好きの方には、たまらなく楽しい職場かもしれませんね。少人数の営業所内の雰囲気は、アットホームで上司や先輩との距離が近く、会話の絶えない明るい営業所です時には優しく、時には厳しく、メリハリのある社内雰囲気が魅力です！また、営業所は福岡市南区西鉄大橋駅から徒歩３分。駅チカで通勤しやすい環境です。営業所の周りにはコンビニはもちろん、おすすめのランチがたくさんあります。<br>
								知る人ぞ知る絶品パスタ！ カリッカリの塩からあげランチ！ は絶対オススメです！`
							], `就職は人生の大きな分岐点です。<br>
							貴方は5年後・10年後どうなっていたいですか？<br>
							テラサキには、あなたが活躍できる舞台があります。貴方の熱意と個性を思いっきり発揮できる職場で一緒にがんばりましょう！`)
							+list([
								'伊万里営業所',
								'伊万里市',
								`伊万里営業所は、九州地区造船所を中心に、船舶用配電制御システムの受注活動及び海運会社への訪問活動を行っています。<br>
								製品の見積・価格交渉から始まり納入までの図面工程・納期管理にも携わります。また、納入後も船の引渡しまで仕様変更による工事の日程調整などを行ないます。<br>
								これで1隻の仕事が完了しホッとするわけですが、最後に造船所殿で行なわれる引渡しセレモニーがあり、船が出航していくシーンは何度みても感動します。<br>
								伊万里営業所は配電盤を製造する子会社のテラサキ伊万里株式会社の敷地内にありますので、自分が受注した製品がどのように出来あがっていくのかもよくわかります。<br>
								また、子会社の皆さんとのバーベキュー大会・懇親旅行・忘年会など、色々なイベントがあったり、サッカーチームやソフトボールチームに参加して、休日に練習や試合をしたりもします。<br>
								更に、近隣の造船所殿のボーリング大会やバーベキュー大会にご招待いただいたり、造船所殿の工場を開放して行う釣大会に参加させていただいたりもします。<br>
								食べ物では何と言っても伊万里牛、そして魚は玄海灘の呼子のイカを筆頭に海の幸が美味しく、それを肴にして地元で作られる地酒、焼酎での一杯は最高です。`
							], `就職は人生の大きな分岐点です。<br>
							貴方は5年後・10年後どうなっていたいですか？<br>
							テラサキには、あなたが活躍できる舞台があります。貴方の熱意と個性を思いっきり発揮できる職場で一緒にがんばりましょう！`)
