include ../components/__mixin.pug
include ../components/__variables.pug
include ../mixin/__index.pug

- var path = './'
- var surClass = 'toppage'
- var mc = 'toppage'
- var h2 = 'style-h2'
doctype html
html
    head 
        include ../components/__meta.pug
        +head('TOP', ['assets/css/reset.css', 'assets/css/bootstrap_custom.css', 'css/common.css', 'css/tailwind.css' ,'css/top.css'], true )
    body 
        main(class= mc)
            .library-cm
                - mc= 'business'
                section(class= mc).pt-lv13.pb-lv11_5.bg-blue-custom2.font-medium
                    .container
                        h2(class= h2).mb-24
                            span.text-lv2.block.text-center.leading-normal 世界トップクラスの事業
                            span.text-lv4.text-blue-custom1.block.text-center.font-en.leading-none.mt-2 OUR BUSINESS
                        div(class= mc + '-wrap').flex
                            a(href="#").block.max-w-half.w-full
                                figure(class= mc + '-img').relative.z-0
                                    img(src= path + 'images/top/img_business.jpg', alt="世界トップクラスの事業")
                                    div(class= mc + '-tInner top-2/4 left-2/4').absolute.z-1.text-white
                                        span.block.text-center.leading-none.font-en.mb-6 WORK
                                        span.block.text-center.leading-normal 事業紹介
                            ul(class= mc +'-lists').max-w-half.w-full.pl-16.flex.flex-col
                                - var lists= ['船舶用システム製品', '産業用システム製品', '機器（ブレーカ）製品', 'メディtカルデバイス']
                                each list in lists 
                                    li(class= mc + '-list').w-full.h-full.border-b.border-colour-1.border-solid.px-lv1_6.flex.items-center
                                        a(href="#").table!= list
                                
                            