include ../components/__variables.pug
include ../mixin/__common.pug
include ../mixin/__index.pug

- var path = './'
- var mc = 'toppage'
- var h2 = 'style-h2'
- var altImg= ''
doctype html
html
    head 
        include ../components/__meta.pug
        +head('TOP', ['assets/css/reset.css', 'assets/css/bootstrap_custom.css', 'css/common.css', 'css/tailwind.css' ,'css/top.css'], true )
    body 
        main(class= mc)
            .library-cm
                - mc= 'business'
                section(class= mc).pt-lv13.pb-lv11_5.bg-blue-custom2.font-medium
                    .container
                        +titleh2('OUR BUSINESS', '世界トップクラスの事業')
                        include ../layout/top/__business.pug
                                
                            